.indent {
    display: block; /* Change display property to block to apply indentation */
    margin-left: 2em; /* You can adjust the indentation value as needed */
  }
  .phone-step-container {
      margin: 20px 0;
  }
  .phone-step {
      font-weight: bold;
      color: #474c55;
      opacity: .5;
      text-decoration: underline;
      font-size: clamp(14pt, 2vw, 18pt);
  }
  #toggleButton {
    position: fixed;
    top: 5px;
    right: 5px;
    user-select: none;
    width: 180px;
    border: solid 1px black;
  }
  /* Create a container to hold the two columns */
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }
  /* Define the styles for the left column */
  .left-column {
    flex: 1; /* Takes up 1/2 of the container width */
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 85, 140, .5);
    background-image: url("../presentation/img/globe_bg_watermark_blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* Define the styles for the right column */
  .right-column {
    flex: 1; /* Takes up 1/2 of the container width */
    padding: 0px 10px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-image: url("../presentation/img/globe_bg_watermark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .script-content {
    padding-top: 100px;
  }
  .checkbox-container {
    display: inline-block;
  }
  .step {
    color: white;
    font-weight: bold;
  }
  .closes {
    background-color: rgba(49, 155, 66, .08);
    padding: 5px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .closestab {
    background-color: rgba(49, 155, 66);
    padding: 5px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .objection {
    font-weight: bold;
    color: #B25271;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Columns: left, middle, right */
  }
  .item {
    text-align: center;
  }
  .middle {
    grid-column: 2; /* Place in the middle column */
  }
  .middle .item {
    width: 100%; /* Make the middle item wider */
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    margin: 1px;
    padding: 2px 14px 2px 2px;
    border-radius: 2px;
    font-family: "Calibri", sans-serif;
    font-size: clamp(10pt, 1.25vw, 14pt);
    color: #474C55;
    box-shadow: 0 0 10px rgba(0, 85, 140, .5);
    width: 80px;
    border: solid 1px black;
  }
  ol[type="a"] {
    margin-top: 0;
    padding-left: 20px;
    list-style-type: lower-alpha;
    list-style-position: outside; /* Adjust list style position */
  }
  .single {
    display: none;
  }
  .SENIOR {
    display: none;
  }
  .nochildren {
    display: none;
  }
  .union {
    display: none;
  }
  .dropdown-option {
    cursor: pointer;
    margin: 1px;
    padding: 2px 14px 2px 2px;
    border-radius: 2px;
    font-family: "Calibri", sans-serif;
    font-size: clamp(14pt, 2vw, 18pt);
    box-shadow: 0 0 10px rgba(0, 85, 140, .5);
    border: solid 1px black;
    font-weight: bold;
  }
  button.showhide {
    font-family: "Calibri", sans-serif;
    font-size: clamp(14pt, 2vw, 18pt);
    font-weight: bold;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    background-color: #319B42;
    color: white;
    border: none;
    border-radius: 5px;
  }
  button.showhide:hover {
    background-color: #50C763;
  }
  button.showhide:active {
    background-color: #ED722F;
  }
  body {
    font-size: clamp(12pt, 1.75vw, 16pt);
    font-family: "Calibri", sans-serif;
  }
  .option-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #00558C;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .cb-text {
    font-size: clamp(10pt, 1.25vw, 14pt);
    padding: 0px 8px 0px 3px;
    color: #319B42;
    font-weight: bold;
  }
  .heading {
    display: flex;
    align-items: center; /* Vertically center the content */
  }
  h1 {
    margin-top: 6px;
    margin-bottom: 0px;
    font-family: "Calibri", sans-serif;
    text-decoration: underline;
  }
  .smallfont {
    font-size: clamp(10pt, 1.25vw, 14pt);
    color: #474C55;
  }
  .TECHNICALChar {
    font-family: "Calibri", sans-serif;
    color: #319B42;
    font-weight: bold;
  }
  .TECHNICALChar::before, .TECHNICALChar::after {
    content: "(";
  }
  .TECHNICALChar::after {
    content: ")";
  }
  .VERBALChar {
    font-family: "Calibri", sans-serif;
    color: #00558C;
    font-weight: bold;
  }
  .NON-VERBALChar {
    font-family: "Calibri", sans-serif;
    color: #ED722F;
    font-weight: bold;
  }
  .NON-VERBALChar::before, .NON-VERBALChar::after {
    content: "(";
  }
  .NON-VERBALChar::after {
    content: ")";
  }
  .ConditionalChar {
    font-family: "Calibri", sans-serif;
    color: #B25271;
    font-weight: bold;
  }
  /* List Definitions */
  ol {
    margin-bottom: 0px;
  }
  ul {
    margin-bottom: 0px;
    font-family: "Calibri", sans-serif;
  }
  li {
    font-family: "Calibri", sans-serif;
  }
  @media (max-device-width: 1920px) {
  .phone-step {
    font-size: clamp(11pt, 1.75vw, 16pt);
  }
  input {
    font-size: clamp(8pt, 1vw, 12pt);
  }
  body {
    font-size: clamp(10pt, 1.5vw, 14pt);
  }
  .dropdown-option {
    font-size: clamp(11pt, 1.75vw, 16pt);
  }
  .cb-text {
    font-size: clamp(8pt, 1vw, 12pt);
  }
  button.showhide {
    font-size: clamp(11pt, 1.75vw, 16pt);
  }
  .smallfont {
    font-size: clamp(8pt, 1vw, 12pt);
  }
  }
  @media (max-device-width: 1366px) {
  .phone-step {
    font-size: clamp(9pt, 1.5vw, 12pt);
  }
  input {
    padding: 2px 10px 2px 2px;
    font-size: clamp(7pt, .75vw, 10pt);
    width: 60px;
  }
  body {
    font-size: clamp(8pt, 1.25vw, 11pt);
  }
  .phone-step-container {
      margin: 10px 0;
  }
  .dropdown-option {
    font-size: clamp(9pt, 1.5vw, 12pt);
    padding: 2px 8px 2px 2px;
  }
  .cb-text {
    font-size: clamp(7pt, .75vw, 10pt);
    padding: 0px 6px 0px 3px;
  }
  button.showhide {
    font-size: clamp(9pt, 1.5vw, 12pt);
  }
  .smallfont {
    font-size: clamp(7pt, .75vw, 10pt);
  }
  }